h2, h3, p {
    margin: 10px;
}

h3{
    color: #ffd100;
}

.content {
    display: flex;
    align-items: center;
    border: 2px solid #ffd100;
    background-color: #026045;
    border-radius: 1rem;
}

img {
    width: 30%;
    margin-right: 20px;
    border-radius: 1rem 0 0 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #ffd100;
}