h2{
    color: #fff;
}
p{
    color: #fff;
}

.infos{
    text-align: center;
}
table{
    margin: 0 auto;
    background-color: #af8207;

}

th{
    font-weight: bold;
    /* font-size: 1.5rem; */
}
th, td{
    border: 1px solid #000;
    padding: 8px;
    color: #000;
    font-size: 1.5rem;
}

.ajoutFilm{
    background-color: #103ebd;
    color: white;
}

