h2{
    color: #fff;
}
p{
    color: #fff;
}

.infos{
    text-align: center;
}

ul, li{
    padding: 8px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    
}

.listgenre{
    display: flex;
    justify-content: space-around;

}


