h2{
    color: #fff;
}
h3{
    font-size: 1rem;
}
p{
    color: #fff;
}
.listgenre img{
    width: 200px;
    height: auto;
}

.infos{
    text-align: center;
}

ul, li{
    padding: 8px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    
}

.listgenre{
    display: flex;
    justify-content: space-around;

}


