*{
margin: 0px;
padding: 0px;
box-sizing:border-box ;
}

html{
    text-align: -webkit-center;
}

body{
    background-color: #026045;
    max-width: 100vh;
}

h1{
    text-align: center;
    color: #fff;
}

.ulTemplate{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
    padding:0;
}

.ulTemplate li{
    margin: 0 10px;
}
